@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar for the Glassy Editor */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background: #00FF85;
}